<form action="/create-team" method="POST">
  <input name="teamName" />
  <input name="numOfTeammates" />
  <input name="color" />
  <input name="mascot" />
  <button type="submit">Add Team</button>
</form>